apiVersion: apps/v1
kind: Deployment
metadata:
  name: todoapp

spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app-container
          image: week11/kubernetestodo:week11 
          ports:
            - containerPort: 80
