/* Reset some default styles for better control */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Styles for the main content */
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.image-container, .video-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    /* overflow: hidden; */
    position: relative;
}

img, video {
    max-width: 110%;
    height: auto;
    border: 1px solid #ccc;
}/* Reset some default styles for better control */

.gallery, .videos {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Responsive design - adjust as needed */
@media screen and (max-width: 600px) {
    /* Adjust styles for smaller screens if needed */
}


/* Background and header styles */
body {
    background-color: #dfdede; /* Dark grey background */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(to bottom,#001529, #002f61 ); /* Navy blue gradient */
    color: #fff; /* White text color */
    text-align: center;
    padding: 20px 0;
    font-size: 17px;
}

.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    /* overflow-x: hidden; */
    position: relative;
}

.media-item {
    flex: 0 0 auto;
    padding: 10px;
    text-align: center;
    max-width: 240px; /* Adjust the max-width to control the width of media items */
}

/* Styles for media item titles */
.media-item p {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}
